:root {
    --main-font: font-family: 'Roboto', sans-serif;
    --btn-color: #F77221;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



header {
    background: url(/img/burguer-header.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center center;
    border-radius: 0px!important;
} 

li, a {
    font-family: var(--main-font);
    font-weight: bold;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

.logo {
    margin-right: 150px;
}

.button {
    background-color: var(--btn-color);
    border: none;
    color: #edf0f1;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
}

.main-image {
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
} 

.text-main {
    color: var(--btn-color);
}

.card-price {
    color: var(--btn-color)
}

.subscribe {
    background: #212121
}

input {
    display: inline-block;
    font-size: 20px;
    box-sizing: border-box;
    transition: .5s;
}

input[type="email"] {
    background: #fff;
    width: 340px;
    height: 50px;
    border: none;
    outline: none;
    padding: 0 25px;
    border-radius: 25px 0 0 25px;
}

input[type="submit"] {
    position: relative;
    left: -5px;
    border-radius: 0 25px 25px 0;
    width: 150px;
    height: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #F77221;
    color: #fff;
}

input[type="submit"]:hover {
    background: #FAB710;
}

.cliente-imagen img {
    width: 80px;
    height: 80px;
    border-radius: 100px;
    margin-right: 25px;
}

.cliente-imagen {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 640px ) {
    header {
        /* background-position: center 40px ; */
        height: 75vh;  
    }

    .main-image {
        height: 50vh;
    } 

    input[type="email"] {
        width: 150px;
        height: 50px;
    }
    
    input[type="submit"] {
        position: relative;
        width: 100px;
        height: 50px;
    }
}